*{
    background-color: #e4e5ebef;
}
/* body{
    background-image: url("UPDATED-LOGObtn2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
} */
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 95%;
    height: 500px;
    
}
.btn{
    position: absolute;
    width: 60%;
    top: 350px;
    left: 200px;
    border-radius: 10px;
    background-color: rgba(250, 248, 248, 0.473);
    
}
a{
    text-decoration: none;
    color: #1c3886;
    font-weight: bold;
    font-size: 2rem;
}

h1{
    background-color: rgba(250, 248, 248, 0);
    margin: 0;
}