*{
    background-color: #b2b3b9ef;
}
/* body{
    background-image: url("UPDATED-LOGObtn2.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
} */

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 95%;
    height: 500px;
    
}
a{

}

@media only screen and (max-width: 400px) {
    .container{
        width: 65%;
        justify-content: center;
        margin: 0;
        height: 300px;
        margin-top: 10px;
    }
   
}

